= form_for(@task, html: {role: 'form'}) do |f|
  - if @task.errors.any?
    .error_explanation
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-9
      .form-horizontal
        .form-group
          = f.label :title, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :title, class: 'form-control', autofocus: true
        .form-group
          = f.label :description, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_area :description, rows: 10,  class: 'form-control wysihtml5'
    .col-sm-3
      .form-group
        = f.submit class:'btn btn-default pull-right'
        %br
        %br
      .form-group
        =f.label :state, 'Статус:', class: 'control-label'
        - %w(new in_work suspended finished).each do |state|
          - state_sym = state.to_sym
          .radio
            = f.label "state_#{state}".to_sym do
              = f.radio_button :state, state_sym, checked: @task.state?(state_sym)
              = Task.human_state_name(state_sym)
      .form-group
        = f.label :project_id, class: 'control-label'
        = f.collection_select :project_id, current_user.projects, :id, :title, {include_blank: 'Без проекта'}, {class: 'form-control'}
      