.page-title
  %h1
    =@project.title
    - if @project.owner == current_user
      =link_to edit_project_path(@project), class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-pencil
      =link_to project_path(@project), confirm: 'Вы точно хотите удалить этот проект?', method: :delete,
                                        class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-trash
%p
  %h3 Участники проекта:
  %ul
    - @project.users.each do |user|
      %li
        = user.name
        - if (@project.owner == current_user) and (@project.owner != user)
          = link_to project_delete_user_path(@project, user), method: :delete, class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-trash
- if @project.owner == current_user
  %p
    %h3 Новый участник:
    = form_tag(project_add_user_path(@project), class: 'form-inline') do
      = label_tag :email
      = email_field_tag :email
      = submit_tag 'Добавить', class: 'btn btn-primary'
