.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading
        %h1 Sign in
      .panel-body
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
          .form-group
            = f.label :email, class: 'control-label col-sm-3'
            .col-sm-9
              = f.email_field :email, :autofocus => true, class: 'form-control'
          .form-group
            = f.label :password, class: 'control-label col-sm-3'
            .col-sm-9
              = f.password_field :password, class: 'form-control'
          .form-group
            .col-sm-offset-3.col-sm-9
              .checkbox
                = f.label :remember_me, class: 'checkbox' do
                  = f.check_box :remember_me
                  Запомнить меня
          .form-group
            .col-sm-12
              = f.submit "Войти", class: 'pull-right btn btn-primary'
